/* CONTACTANOS */

main{
    .descansa{
        background-image: url(../img/contactanos-1.jpg);
        height: 90vh;
        background-size:100% 100%;
        font-family: 'Unna', serif;
        .texto{
            font-size: 35px;
        }
        .texto-2{
            font-size: 20px;
        }
    }
}