%servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color:#d2e880 ;
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding: 1.5rem;
    border-radius: 20px;
}
