/* UBICACION */

main{
    .ubicacion{
        @include flex-column;
        gap: 2rem;
        padding: 1rem;
        padding-inline: 2rem;
        .mapa{
            padding: 1rem 6rem 1rem 6rem; 
        }
    }
    .p-mapa{
        text-align: center;
        color: $color-texto;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        font-family: 'Unna', serif;
    }
}